
.btn {
    margin: 20px;
    padding: 20px;
    color: white;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    width: 300px;
    font-size: 20px;
    background-color: #4CAF50;
    transition: all 0.3s ease;

    &:hover {
        background-color: #45a049; 
        border-color: #45a049;
    }
}